body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-header {
  text-align: center;
  background-color:   #1F2937;
  color: white;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.app-container {
  /* margin-top: 50px; */
  width: 100%;
}

.room {
  display: flex;
  flex-direction: column;
}

.room label {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.room input {
  width: 200px;
  height: 30px;
  border: 2px solid #3b5998;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}
.btn{
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  background-color: #3b5998;
  color: white;
  cursor: pointer;
  
}

.normal-text{
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}

.room button {
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  background-color: #3b5998;
  color: white;
  cursor: pointer;
}

.sign-out {
  margin-top: 50px;
}

ul{
  list-style-type: none;
}

/* .navbar{
  display: flex;
} */

li{
  display:inline;
  padding: 4px;
}

.app-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  color: var(--primary-light);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: rotate(360deg) scale(1.2);
}

.info{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bottom{
  display: flex;
  justify-content: center;
}

.navbar-links{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.navbar-links:hover{
  opacity: 0.8;
  color: lightseagreen;
  
}

.navbar-links:active{
  opacity: 0.5;
  
}

.signIn-btn:hover{
  box-shadow: 7px 7px 12px rgba(0,0,0,0.15);
  color: lightseagreen;
  background-color: aliceblue;

}

.signIn-btn:active{
  opacity: 0.5;
}